.card {
    background-color: blue;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.header-img img{
    width: 300px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

.header-img, .header-name, .header-capital {
    pointer-events: none;
}

.news{
    display: flex;
    flex-direction: row;
    width: 70%;
    /* margin: 30px; */
    border: 2px solid white;
    /* height: 300px; */
}

.news-container {
    background-color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news-image img{
    width: 300px;
}
.news-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 30px;
}

.news-content{
 width: 65%;
 margin-top: 30px;

}

.news-content span{
    display: block;
    margin-right: 30px;
}

.float-right{
    float: right;
}
.news-title{
    display: inline;
    margin-top: 30px;
    margin-left: 30px;
}

